source/25120500001_AdityaWardana_CommProto_UAS_workflown8n.json
{
  "name": "25120500001_AdityaWardana_CommProto_UAS_workflown8n",
  "nodes": [
    {
      "parameters": {
        "path": "0aeb536f-196f-4061-aa84-331848aa7412",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "6b519ad0-ef72-4986-8633-fa0a925c3fc6",
      "name": "Webhook",
      "webhookId": "0aeb536f-196f-4061-aa84-331848aa7412"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8088/api/orders/9999",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "64eff5e8-e95c-43ea-8e3b-137269ea3a5a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6efde634-a4b5-4bdf-b6b7-ccc7a2413610",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "fc6a6576-4561-47fb-a2ba-458fca44a9f6",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        -96
      ],
      "id": "281563d0-34a4-4c3e-abc5-9d0ba0c709da",
      "name": "Respond Succes"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": "={{ $json.statusCode }}"
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        96
      ],
      "id": "fb318a59-fa55-4921-a70d-e7e6102f1ddc",
      "name": "Respond Error"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond Succes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "17854227-7d85-4076-bb59-cd6c97b954cb",
  "meta": {
    "instanceId": "6918fc73140b0cb603ea95f0446d21521cb954e90eb5fae312c2dd1d8601cb29"
  },
  "nodeGroups": [],
  "id": "JZGFg089MURG9f3I",
  "tags": []
}